<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LoftyBlast</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <meta name="description" content="LoftyBlast leverages AI to help real estate agents set up Facebook ads in minutes. Drive more qualified leads with our secure, AI-powered ad creation.">
    <meta name="build-version" content="<%= __BUILD_VERSION__ %>">
    <meta property="og:title" content="Secure Checkout - LoftyBlast Real Estate Ads">
    <meta property="og:description" content="Use our AI-powered platform to set up targeted Facebook & Google ads in minutes and capture more buyers!">
    <meta property="og:image" content="https://loftyblast.com/assets/checkout-og.png">
    <meta property="og:url" content="https://loftyblast.com/checkout.html">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LoftyBlast">
    <meta name="twitter:title" content="Secure Checkout - LoftyBlast Real Estate Ads">
    <meta name="twitter:description" content="Quickly launch AI-powered real estate ad campaigns. Secure checkout in under 5 minutes!">
    <meta name="twitter:image" content="https://loftyblast.com/assets/checkout-twitter.png">
    <link
        rel="icon"
        href="https://cdn.lofty.com/image/fs/servicetool/2025710/8/original_60f236a4963f4083.png"
    />
    <link rel="stylesheet" defer href="https://static.chimeroi.com/servicetool-temp/signLog-prod.css">
    <meta name="build-version" content="<%= __BUILD_VERSION__ %>">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="%VITE_CHECKOUT_URL%/js/common.css" />
    <link rel="stylesheet" href="%VITE_CHECKOUT_URL%/checkoutPop.css" />
    <link rel="canonical" href="https://loftyblast.com/listingblast">
    <script type="application/ld+json">{
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "Lofty Blast Lead Generation",
      "description": "A hyper-local lead generation service for real estate professionals, offering Zip Code Blast, Listing Blast, and Team Blast options.",
      "provider": {
        "@type": "Organization",
        "name": "Lofty Inc.",
        "url": "https://lofty.com"
      },
      "areaServed": "US",
      "serviceOutput": "Lead generation ads",
      "url": "https://loftyblast.com"
    }</script>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://static.chimeroi.com/lib/jquery-3.5.0.min.js"></script>
    <script src="https://static.chimeroi.com/servicetool-temp/LoftyAuthServe.umd.cjs"></script>
    <script src="https://static.chimeroi.com/servicetool-temp/20231120/23/374bc506-600a-437b-a7b6-e3967b5510ac_fingerprint-prod-21112023.js"></script>
    <script src="https://static.chimeroi.com/servicetool-temp/2022116/23/de0f05bb-74c6-42f3-bc79-40e3fa629a5e_fabric.min.js"></script>
    <script src="https://static.chimeroi.com/servicetool-temp/20231026/22/6bd4f405-09de-41ad-8abb-841178e0ef67_broker_common_8417a56548.js"></script>
    <script src="%VITE_CHECKOUT_URL%/js/js/common-dc331e572cac174b.js"></script>
    <script src="%VITE_CHECKOUT_URL%/js/checkoutPop-b225131e02cd516f.js"></script>
    
    <script type="module" src="/src/listingblast.tsx"></script>

    <!-- OneTrust Cookies Consent Notice start for lofty.com -->
    <!--<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="eae51c18-e40d-47d0-bac1-d359c651f572" ></script>-->
    <!-- OneTrust Cookies Consent Notice end for lofty.com -->
  </body>
</html>
